{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>piro_index</title>
</head>

<body>
    <header>
        <div class="top-header">
            <img src="static/images/logo.png" alt="로고" class="logo">
            <a href="{% url 'piro_index:login' %}"><h1 class="site-name">PIRO INDEX</h1></a>
            <div class="menus">
                <ul class="menus-list">
                    <li><a href="{% url 'piro_index:login' %}" class="menu-Logout">Logout</a></li>
                    <li><a href="{% url 'piro_index:login' %}" class="menu-Mypage">Mypage</a></li>
                </ul>
            </div>
        </div>
    </header>
</body>

</html>